html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.timeline_grid {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
}

.dates{
  font-size: 64px;
  text-align: center;
  height: 100%;
}

.events{
  font-size: 32px;
  padding: 2em 2em 2em 3em;
}

.itemD1 {color:#D9CAF1; background:#6E65BF;}
.itemE1 {color:#FAEB9F; background: #D7B941;}
